.pointer {
    cursor: pointer;
}

#top-div {
    background: #4591FF;
    height: 60px;
}

#top-div #logo-div {
    position: absolute;
    left: 20px;
    top: 0px;
    height: 60px;
    width: 100px;
}

#top-div #title-div {
    position: absolute;
    left: 140px;
    top: 6px;
    height: 48px;
    line-height:24px;
}

.top-text {
    height: 24px;
    font-size: 16px;
    margin-bottom: 0px;
    color: white;
    letter-spacing: 1px;
    font-family: Helvetica Neue;
}

.top-button {
    cursor: pointer;
    float:left;
    margin-left:60px;
}


#top-div #page-div {
    position: absolute;
    right: 140px;
    top: 18px;
    height: 24px;
    line-height:24px;
}

#bottom-div {
    position: relative;
    top: 600px;
    height: 100px;
}

#bottom-div #cut-line {
    position: absolute;
    top: 0px;
    left: 140px;
    right: 140px;
    height: 1px;
    background: #4591FF;
}

#bottom-div #about-div {
    position: absolute;
    top: 10px;
    left: 140px;
    right: 140px;
    line-height: 24px;
}

.bottom-text {
    height: 24px;
    font-size:16px;
    color: #4591FF;
    margin-bottom:0px;
    text-align: right;
    letter-spacing: 1px;
    font-family: Helvetica Neue;
}

.button {  
    display: inline-block;  
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */  
    *display: inline;  
    vertical-align: baseline;  
    margin: 0 2px;  
    outline: none;  
    cursor: pointer;  
    text-align: center;  
    text-decoration: none;  
    font: 14px/100% Arial, Helvetica, sans-serif;  
    padding: .5em 2em .55em;  
    text-shadow: 0 1px 1px rgba(0,0,0,.3);  
    -webkit-border-radius: .5em;   
    -moz-border-radius: .5em;  
    border-radius: .5em;  
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);  
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);  
    box-shadow: 0 1px 2px rgba(0,0,0,.2);  
}

.blue {  
    color: #d9eef7;  
    border: solid 1px #0076a3;  
    background: #0095cd;  
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));  
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);  
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');  
}
